@if(open && cultivation){

<div class="fixed inset-0 z-50 flex items-end justify-center bg-black/60 backdrop-blur-sm">

    <div class="h-[95vh] w-full overflow-y-auto rounded-t-3xl bg-[#F4F8F2]">

        <!-- Header -->
        <div class="sticky top-0 z-10 flex bg-[#F4F8F2] px-6 py-4">

            <div class="text-center mx-auto">
                <h1 class="text-2xl font-bold text-[#36523C]">
                    {{ cultivation.nickname }}
                </h1>

                <p class=" text-lg italic text-gray-500">
                    {{ cultivation.sowingDate }}
                </p>
            </div>

            <button (click)="closeModal()" class="rounded-full bg-white p-3 shadow">
                ✕
            </button>

        </div>

        <!-- Imagen -->
        <section class="px-6">
            <img [src]="cultivation.image" [alt]="cultivation.plantName"
                class="h-72 w-full rounded-3xl object-cover shadow-lg">
        </section>

        <!-- Acciones Rapidas -->
        <section class="mt-4 px-6">

            <h2 class="mb-5 text-xl font-semibold text-[#36523C]">
                Acciones rápidas
            </h2>

            <div class="grid grid-cols-3 gap-4">

                <button class="rounded-3xl bg-[#4F7D5C] p-2 text-white shadow transition hover:scale-[1.03]">
                    <img src="/mariquita.png" alt="" class="h-12 w-12 mx-auto">
                    <p class="mt-3  ">
                        Fumigación
                    </p>
                </button>

                <button class="rounded-3xl bg-white p-2 shadow transition hover:scale-[1.03]">
                    <img src="/fertilizante.png" alt="" class="h-12 w-12 mx-auto">
                    <p class="mt-3  ">
                        Fertilización
                    </p>
                </button>

                <button class="rounded-3xl bg-white p-2 shadow transition hover:scale-[1.03]">
                    <img src="/camera.png" alt="" class="w-12 h-12 mx-auto">
                    <p class="mt-3  ">
                        Fotografía
                    </p>
                </button>


                <button class="rounded-3xl bg-white p-2 shadow transition hover:scale-[1.03]">
                    <img src="/sequence.png" alt="" class="h-12 w-12 mx-auto">
                    <p class="mt-3  ">
                        Crecimiento
                    </p>
                </button>

                <button class="rounded-3xl bg-white p-2 shadow transition hover:scale-[1.03]">
                    <img src="tijeras.png" alt="" class="w-12 h-12 mx-auto">
                    <p class="mt-3  ">
                        Cosecha
                    </p>
                </button>

                <button class="rounded-3xl bg-white p-2 shadow transition hover:scale-[1.03]">
                    <img src="sticky-note.png" alt="" class="w-12 h-12 mx-auto">
                    <p class="mt-3  ">
                        Crear Nota
                    </p>
                </button>


            </div>

        </section>

        <!-- Fotografías -->
        <section class="mt-10 px-6">
            <div class="mb-5 flex items-center justify-between">
                <h2 class="text-xl font-semibold text-[#36523C]">
                    Fotografías
                </h2>

                <button class="text-sm font-semibold text-[#4F7D5C]">
                    Ver todas
                </button>
            </div>

            <div class="grid grid-cols-3 gap-3">
                <div class="aspect-square rounded-2xl bg-gray-200"></div>
                <div class="aspect-square rounded-2xl bg-gray-200"></div>
                <div class="aspect-square rounded-2xl bg-gray-200"></div>
            </div>
        </section>


        <!-- Timeline -->
        <section class="mt-10 px-6">
            <h2 class="mb-5 text-xl font-semibold text-[#36523C]">
                Actividad reciente
            </h2>

            <div class="space-y-5">
                <div class="flex gap-4">
                    <div class="flex h-12 w-12 items-center justify-center rounded-full bg-blue-100 text-2xl">
                        <img src="/gotaVerde.png" alt="" class="w-8 h-8">
                    </div>

                    <div class="flex-1 rounded-2xl bg-white p-4 shadow">
                        <h3>
                            Riego realizado
                        </h3>

                        <p class="text-sm text-gray-500">
                            Se registró un riego para este cultivo.
                        </p>

                        <span class="mt-2 block text-xs text-gray-400">
                            Hace 2 días
                        </span>
                    </div>
                </div>

                <div class="flex gap-4">
                    <div class="flex h-12 w-12 items-center justify-center rounded-full bg-green-100 text-2xl">
                        <img src="/camera.png" alt="" class="w-8 h-8">
                    </div>

                    <div class="flex-1 rounded-2xl bg-white p-4 shadow">
                        <h3>
                            Nueva fotografía
                        </h3>

                        <p class="text-sm text-gray-500">
                            Se añadió una imagen para documentar el crecimiento.
                        </p>

                        <span class="mt-2 block text-xs text-gray-400">
                            Hace 5 días
                        </span>
                    </div>
                </div>

                <div class="flex gap-4">
                    <div class="flex h-12 w-12 items-center justify-center rounded-full bg-yellow-100 text-2xl">
                        <img src="/plantaVerde.png" alt="" class="w-8 h-8">
                    </div>

                    <div class="flex-1 rounded-2xl bg-white p-4 shadow">
                        <h3>
                            Cultivo registrado
                        </h3>
                        <p class="text-sm text-gray-500">
                            Se creó este cultivo.
                        </p>
                        <span class="mt-2 block text-xs text-gray-400">
                            {{ cultivation.sowingDate }}
                        </span>
                    </div>
                </div>
            </div>
        </section>



        <section class="mt-12 px-6 pb-10">
            <button
                class="w-full rounded-2xl bg-[#4F7D5C] py-4 text-lg font-semibold text-white shadow-lg transition hover:scale-[1.02]">
                Registrar actividad
            </button>
        </section>

    </div>
</div>
}