<button class="w-full rounded-3xl bg-white mb-4 text-left shadow transition hover:scale-[1.02] active:scale-95"
    (click)="open()">
    <div class="flex items-center gap-2">

        <div class="w-5/12">
            <img [src]="cultivation().image" [alt]="cultivation().plantName" class="h-36 w-full rounded-2xl object-cover brightness-85">
        </div>

        <div class=" w-7/12">
            <h2 class="text-xl font-bold text-[#36523C]">
                {{ cultivation().nickname }}
            </h2>

            <p class="italic text-gray-500">
                <span class="text-sm">
                    <div class="flex">
                        <img src="/calendarioVerde.png" alt="" class="w-4 h-4 my-auto mr-2">
                        {{ cultivation().sowingDate }}
                    </div>

                    <span class="rounded-full bg-[#F4F8F2]  text-sm">
                        Ubicación: {{ cultivation().place }}
                    </span>

                </span>

            </p>


            <div class="flex  text-sm text-gray-500">
                <img src="/gotaVerde.png" alt="" class="w-4 h-4 my-auto">
                {{ cultivation().lastWatering }}

            </div>

        </div>
    </div>
</button>