<div class="min-h-dvh bg-[#F4F8F2] pb-28">

    <!-- Header -->
    <header class="px-6 py-4">
        <div class="flex my-2">    

            <h1 class="text-2xl font-bold text-[#36523C] ">
                Bienvenid@ Usuari@
            </h1>
        </div>


        <div class="mt-5 flex gap-3">
            <div class="rounded-xl bg-white px-2 py-2 shadow">
                ☀️ 27°C
            </div>

            <div class="rounded-xl bg-white px-2 py-2 shadow">
                🌧️ 10%
            </div>

            <div class="rounded-xl bg-white px-4 py-2 shadow flex">
                <img src="/calendarioVerde.png" alt="" class="h-5 w-5 mr-2"> {{ fechaActual | date:'dd/MM/yyyy' }}
            </div>
        </div>

    </header>

    <app-floating-menu></app-floating-menu>
    <!-- Cards -->
    <section class="mt-4 px-6">
        <div class="grid grid-cols-2 gap-4">
            <div class="rounded-2xl bg-white p-5 shadow">
                <div class="text-3xl">
                    <img src="/plantaVerde.png" alt="" class="w-12 h-12">
                </div>
                <p class="mt-2 text-gray-500">
                    Plantas 
                </p>
                <h2 class="text-2xl font-bold">
                    12
                </h2>
            </div>

            <div class="rounded-2xl bg-white p-5 shadow">
                <div class="text-3xl">
                    <img src="/gotaVerde.png" alt="" class="w-12 h-12">
                </div>
                <p class="mt-2 text-gray-500">
                    Riegos
                </p>
                <h2 class="text-2xl font-bold">
                    3
                </h2>
            </div>

            <div class="rounded-2xl bg-white p-5 shadow">
                <div class="text-3xl">
                    <img src="/tijeras.png" alt="" class="w-12 h-12">
                </div>
                <p class="mt-2 text-gray-500">
                    Cosechas
                </p>
                <h2 class="text-2xl font-bold">
                    2
                </h2>
            </div>

            <div class="rounded-2xl bg-white p-5 shadow">
                <div class="text-3xl">
                    <img src="/listaVerde.png" alt="" class="w-12 h-12">
                </div>
                <p class="mt-2 text-gray-500">
                    Actividades
                </p>
                <h2 class="text-2xl font-bold">
                    28
                </h2>
            </div>
        </div>
    </section>

    <!-- Actividad reciente -->
    <section class="mt-10 px-6">
        <h2 class="mb-4 text-xl font-bold text-[#36523C]">
            Actividad reciente
        </h2>

        <div class="space-y-4">
            <div class="flex items-center justify-between rounded-2xl bg-white p-4 shadow">
                <div>
                    <h3 class="font-semibold flex">
                        <img src="/gotaVerde.png" alt="" class="w-6 h-6 mr-2"> 
                        Riego realizado
                    </h3>
                    <p class="text-sm text-gray-500">
                        Tomate Cherry
                    </p>
                </div>

                <span class="text-sm text-gray-400">
                    Hoy
                </span>
            </div>

            <div class="flex items-center justify-between rounded-2xl bg-white p-4 shadow">
                <div>
                    <h3 class="font-semibold flex">
                        <img src="/fertilizante.png" alt="" class="w-6 h-6 mr-2">  
                            Fertilización
                    </h3>
                    <p class="text-sm text-gray-500">
                        Albahaca
                    </p>
                </div>

                <span class="text-sm text-gray-400">
                    Ayer
                </span>
            </div>
        </div>
    </section>
</div>

<app-bottom-navbar></app-bottom-navbar>
