<app-floating-menu></app-floating-menu>

<div class="min-h-dvh bg-[#F4F8F2] pb-32">

    <header class="sticky top-0 bg-[#F4F8F2] px-6 pt-8">

        <h1 class="text-3xl font-bold text-[#36523C]">
            Enciclopedia
        </h1>

        <p class="mt-2 text-gray-500">
            Explora todas las especies disponibles.
        </p>

    </header>

    <section
        class="mt-8 grid grid-cols-2 gap-5 px-6">

        @for (plant of plants; track plant.id; let i = $index) {

            <app-plant-card
                [plant]="plant"
                (open)="openPlant(i)">
            </app-plant-card>

        }

    </section>

</div>


<app-plant-detail-modal

    [open]="showModal"

    [plants]="plants"

    [currentIndex]="selectedIndex"

    (close)="closePlant()">

</app-plant-detail-modal>


<app-bottom-navbar></app-bottom-navbar>